{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock css %}
{% block products-active %}active{% endblock products-active %}
{% block content %}
<div class="row">
    <div class="col-lg-2">
        <div class="list-group">
            <a href="{% url 'products' %}" class="list-group-item list-group-item-action active">Hammasi</a>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushMain">
            {% for item in Category %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading_{{ forloop.counter }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse_{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse_{{ forloop.counter }}">
                        {{ item.title }}
                    </button>
                </h2>
                <div id="flush-collapse_{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading_{{ forloop.counter }}"
                    data-bs-parent="#accordionFlushMain">
                        <div class="list-group">
                            <div class="accordion accordion-flush" id="accordionFlushSub">
                                <div class="list-group">
                                    <a href="{% url 'products' %}?maincategory={{ item.pk }}" class="list-group-item list-group-item-action">Hammasi</a>
                                </div>
                                {% for item1 in item.SubCategory.all %} 
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-heading_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                                            {{ item1.title }}
                                        </button>
                                    </h2>
                                    <div id="flush-collapse_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" class="accordion-collapse collapse" 
                                        aria-labelledby="flush-heading_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" data-bs-parent="#accordionFlushSub">
                                            <div class="list-group">
                                                <a href="{% url 'products' %}?subcategory={{ item1.pk }}" class="list-group-item list-group-item-action">Hammasi</a>
                                                {% for item2 in item1.Category.all %} 
                                                <a href="{% url 'products' %}?category={{ item2.pk }}" class="list-group-item list-group-item-action">{{ item2.title }}</a>
                                                {% endfor %}
                                            </div>
                                    </div>
                                </div>    
                            {% endfor %}
                        </div>
                        {% if item.MainCategory %}
                            <div class="list-group">
                                {% for item1 in item.MainCategory.all %} 
                                    <a href="#" class="list-group-item list-group-item-action">{{ item1.title }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container col-lg-10">
        <div class="row gx-3 gy-3">
            {% if object_list %}
            {% for item in object_list %}
            <!-- style="width: 18rem;"   justify-content-between -->
            <div class="col col-xl-3 col-md-4 col-sm-6 col-12">
                <div class="card">
                    <img src="{{ item.photo.url }}" class="card-img-top" alt="{{ item.title }}">
                    <div class="card-body">
                        <h5 class="card-title ">{{ item.title }}</h5>
                        <p class="card-text">{{ item.summary }}</p>
                    </div>
                    <ul class="list-group list-group-flush list-dark">
                        <li class="list-group-item">{{ item.weight }} {{ item.unit }}</li>
                        <li class="list-group-item">{{ item.price }} so'm</li>
                        <li class="list-group-item">{{ item.raiting }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'product_detail' item.pk %}" class="card-link">Batafsil</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                Mahsulotlar mavjud emas
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}


